.container.testimonials__container{
    width: 40%;
    padding-bottom: 4rem;
}

.client__avatar{
    /* width: 80%; */
    /* object-fit: cover; */
    /* height: 100%; */
    aspect-ratio: 1/1; 
    overflow: hidden; 
    border-radius: 5%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
    transition: all ease 500ms;
}
.client__avatar:hover{
    transform: scale(1.05);
    border: 0.4rem solid var(--color-primary);

}

.client__avatar img{
    /* object-fit: cover; */
    /* height: 100vh; */
    width: 100%;
    height: 99%;
}

.testimonials{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    border-color: var(--colo-primary);
    user-select: none;
}

.client__review{
    color: var(--color-light);
    font-weight: 600;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

#testimonials > div > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    color: var(--color-primary);
}

/*====MEDIA QUERIE(MEDIUM DEVICES)====*/
@media screen and (max-width:1024px){
    .container.testimonials__container{
        width: 80%;
    }

}
/*====MEDIA QUERIE(SMALL DEVICES)====*/
@media screen and (max-width:600px){
    .container.testimonials__container{
        width: var(--container-width-sm);
    }
    .client__review{
        width: var(--container-width-sm);
    }

}
